<nav>
  <a routerLink="/product">Home</a> |
  <a routerLink="/Create">Create Master Product</a> |
  <a routerLink="/ProjectAll">Project All</a>

</nav>

<i class="fa-solid fa-hippo"></i>

<fa-icon [icon]="faCoffee"></fa-icon>
<fa-icon [icon]="faHippo"></fa-icon>
<i class="fab fa-angular"></i>

<div class="fa-3x">
  <i class="fa-solid fa-circle-plus fa-beat"></i>
  <i class="fa-solid fa-heart fa-beat"></i>
  <i class="fa-solid fa-heart fa-beat" style="--fa-animation-duration: 0.5s;" ></i>
  <i class="fa-solid fa-heart fa-beat" style="--fa-animation-duration: 2s;"></i>
  <i class="fa-solid fa-heart fa-beat" style="--fa-beat-scale: 2.0;"></i>
</div>

<i-feather name="github" class="someclass"></i-feather>
<i-feather name="heart" style="color: green;"></i-feather>
<i-feather name="camera"></i-feather>
<!--<app-project-all></app-project-all>-->
<router-outlet></router-outlet>
