<nav>
  <a routerLink="/product">Home</a> |
  <a routerLink="/Create">Create Master Product</a> |
  <a routerLink="/ProjectAll">Project All</a>

</nav>

<i class="fa-solid fa-hippo"></i>

<fa-icon [icon]="faCoffee"></fa-icon>
<fa-icon [icon]="faHippo"></fa-icon>
<i class="fas fa-wrench"></i>
<i class="fab fa-angular"></i>

<i-feather name="github" class="someclass"></i-feather>
<i-feather name="heart" style="color: green;"></i-feather>
<i-feather name="camera"></i-feather>
<!--<app-project-all></app-project-all>-->
<router-outlet></router-outlet>
